* {
    margin: 0;
    padding: 0;
}
body {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
    font-family: Lato;
    font-size: 1.3em;
    color: #fff;
    font-weight: bold;
}

a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: hotpink;
}

#header{
	padding-top: 30px;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgb(0, 0, 255, 0.2);
}



